input{
    border: black solid 1px ;
    padding: 1px;
    width: 30%;
}

.form{
    border: black solid 1px;
}

button{
    transition: all 0.5s;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(174, 174, 255);
}